@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Hahmlet:wght@100;300;400&family=Jua&family=Russo+One&family=Sunflower:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.App {
  width: 100%;
  height: auto;
  background-color: #5b4d96;
  background-image: linear-gradient(300deg, #22436d 4%, #504385 74%);
  overflow: hidden !important;
}

.App .sc {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
}
/* .chorong_box {
  width: 100%;
  display: flex;
  position: fixed;
  top: 44.5%;
  z-index: 1151;
} */

.chorong {
  width: 90px;
  animation: infinite 1.4s R_L;
  position: fixed;
  top: 44.5%;
  z-index: 1151;
  animation-direction: alternate;
  transition: cubic-bezier(0.99, 0.18, 0.17, 0.65) 0.9s;
  opacity: 0;
}

.chorong:nth-child(1) {
  position: fixed;
  left: 35%;
}
.chorong:nth-child(2) {
  position: fixed;
  right: 35%;
}
.rong2 {
  margin-left: auto;
}

.chorong img {
  width: 100%;
  position: relative;
  z-index: 153;
}

.chorong span {
  width: 30px;
  height: 26px;
  background: rgba(243, 243, 60, 0.651);
  border-radius: 50%;
  box-shadow: 0 0 8px 22px rgba(238, 238, 77, 0.616);
  position: absolute;
  top: 45%;
  left: 15%;
}

.chorong:nth-child(1) span {
  left: 36%;
}
.chorong:nth-child(2) span {
  left: 18%;
}
@keyframes R_L {
  from {
    transform: translateY(-8px) rotateY(30deg);
  }
  to {
    transform: translateY(10px) rotateY(-30deg);
  }
}

@media all and (max-width: 2000px) {
  .App {
    width: 100%;
  }
  .App .sc {
    width: 100%;
  }
  .App .sc1 {
    background-color: #5b4d96;
    background-image: linear-gradient(315deg, #504385 4%, #22436d 74%);
  }
  .App .sc1 header {
    width: 82%;
    padding: 10px 3px;
    padding-top: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 555555555;
  }

  .App .sc1 header button {
    width: 18%;
    line-height: 40px;
    border-radius: 30px;
    background: none;
    border: 2.5px solid rgba(79, 116, 171, 0.45);
    color: rgb(149, 195, 241);
    text-align: center;
    font-size: 0.85rem;
    font-weight: bold !important;
    box-shadow: 0 0 8px 4px rgb(99, 180, 226);
    animation: button 1s forwards;
    opacity: 0;
    transition: all 0.5s;
    transform: scale(1);
  }
  @keyframes button {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .sc1 header button:nth-child(1) {
    animation-delay: 0.25s;
  }
  .sc1 header button:nth-child(2) {
    animation-delay: 0.35s;
  }
  .sc1 header button:nth-child(3) {
    animation-delay: 0.45s;
  }
  .sc1 header button:nth-child(4) {
    animation-delay: 0.55s;
  }
  .sc1 header button.click {
    color: rgb(167, 94, 216);
    box-shadow: 0 0 8px 5px rgb(190, 99, 226);
    transform: scale(0.8);
  }

  .App .sc1 h2 {
    width: 55% !important;
    margin: 0 auto;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    font-size: 2.1rem;
    font-family: "Jua", sans-serif;
    font-weight: normal;
    text-align: center;
    color: rgb(238, 234, 234);
    animation: jinhee 0.8s forwards;
    opacity: 0;
    animation-delay: 1.4s;
  }

  @keyframes jinhee {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }
    45% {
      opacity: 0.7;
      transform: scale(1.17);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  .chorong {
    width: 7%;
  }

  .chorong span {
    width: 40px;
    height: 35px;
    top: 45%;
    left: 15%;
  }

  .chorong:nth-child(1) span {
    left: 42%;
  }
  .chorong:nth-child(2) span {
    left: 23%;
  }

  .App .sc2 {
    width: 88%;
    padding: 20px 0;
    padding-top: 110px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .App .sc3 {
    width: 88%;
    padding: 20px 0;
    padding-top: 90px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    /* background: #96c8fb; */
  }

  .App .sc4 {
    width: 88%;
    height: auto;
    padding: 20px 0;
    padding-top: 90px;
    padding-bottom: 80px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    /* background: #57c78f41; */
  }

  .App .sc2 .profile {
    width: 32%;
    height: 80vh;
    transition: cubic-bezier(0.33, 0.77, 0, 0.36) 0.5s;
    clip-path: circle(10% at 50% 40%);
    opacity: 0;
  }
  .sc2.active .profile {
    opacity: 1;
    clip-path: circle(90% at 50% 50%) !important;
  }

  .App .sc2 .about {
    width: 150px;
    text-align: center;
    line-height: 45px;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(220, 231, 247);
    border-radius: 15px;
    font-family: "Jua", sans-serif;
    position: relative;
    margin-top: 15px;
  }
  .App .sc2 .about span {
    display: inline-block;
    width: 4px;
    height: 3px;
    border-radius: 50px;
    background: rgba(185, 125, 241, 0.712);
    box-shadow: 0 0 7px 2px rgba(185, 131, 236, 0.774);
    position: absolute;
    z-index: 11;
    transition: all 0.1s cubic-bezier(0.33, 0.77, 0, 0.36);
  }

  .sc2 .about .l1 {
    top: 0;
    left: 10px;
  }
  .sc2 .about .l2 {
    top: 0;
    right: 10px;
  }
  .sc2 .about .l3 {
    bottom: 0;
    right: 10px;
  }
  .sc2 .about .l4 {
    bottom: 0;
    left: 10px;
  }

  .sc2 .about:hover .l1 {
    width: 130px !important;
  }
  .sc2 .about:hover .l2 {
    height: 40px !important;
  }
  .sc2 .about:hover .l3 {
    width: 130px !important;
  }
  .sc2 .about:hover .l4 {
    height: 40px !important;
  }

  .App .sc2 .profile article {
    width: 86%;
    margin-left: auto;
    margin-top: 40px;
  }
  .sc2 .profile article h4 {
    color: rgb(234, 242, 247);
    font-weight: 100;
    font-size: 1rem;
    line-height: 30px;
    font-family: "Sunflower", sans-serif;
  }
  .App .sc2 .history {
    width: 32%;
    height: 80vh;
  }
  .App .sc2 .certificate {
    width: 32%;
    height: 80vh;
    /* background: rgba(216, 170, 170, 0.301); */
    /* clip-path: circle(30% at 50% 50%); */
  }

  .sc2 .history aside {
    width: 80%;
    margin-left: auto;
    margin-top: 40px;
    color: rgb(233, 241, 247);
    font-weight: 100;
    font-size: 1.45rem;
    line-height: 30px;
    font-family: "Sunflower", sans-serif;
  }
  .sc2 .history aside .timeline {
    display: flex;
    margin-bottom: 25px;
    position: relative;
    opacity: 0;
  }

  .sc2.active .history aside .timeline {
    animation: rr_mv cubic-bezier(0.33, 0.77, 0, 0.36) 0.5s forwards;
  }

  @keyframes rr_mv {
    from {
      opacity: 0;
      transform: translateX(-45px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .sc2.active .history aside .timeline:nth-child(1) {
    animation-delay: 0.1s;
  }
  .sc2.active .history aside .timeline:nth-child(2) {
    animation-delay: 0.3s;
  }
  .sc2.active .history aside .timeline:nth-child(3) {
    animation-delay: 0.5s;
  }
  .sc2.active .history aside .timeline:nth-child(4) {
    animation-delay: 0.7s;
  }

  .sc2 aside .timeline span {
    display: block;
    width: 15px;
    height: 12px;
    position: relative;
    top: 8px;
    left: -5px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    animation: backch 1.5s infinite;
    transition: all 1s;
  }
  @keyframes backch {
    0% {
      background: rgba(162, 233, 140, 0.45);
    }
    47% {
      background: rgba(199, 145, 224, 0.45);
    }
    100% {
      background: rgba(106, 203, 241, 0.45);
    }
  }

  .sc2 aside .timeline .contbox {
    margin-left: 10px;
  }

  .history aside .timeline h4 {
    font-size: 1.2rem;
    color: rgb(167, 209, 248);
  }

  .sc2 .certificate aside {
    width: 85%;
    margin-left: auto;
    margin-top: 40px;
    color: rgb(233, 241, 247);
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 30px;
    font-family: "Sunflower", sans-serif;
  }

  .sc2 .certificate aside .timeline {
    margin-bottom: 15px;
    position: relative;
    display: flex;
    opacity: 0;
  }

  .sc2.active .certificate aside .timeline {
    animation: rr_mv2 cubic-bezier(0.33, 0.77, 0, 0.36) 0.5s forwards;
  }
  @keyframes rr_mv2 {
    from {
      opacity: 0;
      transform: translateX(-45px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .sc2.active .certificate aside .timeline:nth-child(1) {
    animation-delay: 0.1s;
  }
  .sc2.active .certificate aside .timeline:nth-child(2) {
    animation-delay: 0.3s;
  }
  .sc2.active .certificate aside .timeline:nth-child(3) {
    animation-delay: 0.5s;
  }
  .sc2.active .certificate aside .timeline:nth-child(4) {
    animation-delay: 0.7s;
  }
  .sc2.active .certificate aside .timeline:nth-child(5) {
    animation-delay: 1s;
  }

  .certificate aside .timeline h4 {
    font-size: 1.1rem;
    color: rgb(167, 209, 248);
  }

  .App .sc3 h1 {
    width: 160px;
    line-height: 55px;
    font-style: italic;
    font-size: 2.4rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 7%;
    font-family: "Russo One", sans-serif;
    color: white;
    text-shadow: 4px 3px 5px rgba(48, 48, 48, 0.349);
    transition: 0.3s cubic-bezier(0.18, 0.82, 0, 0.36);
    opacity: 0;
    transform: translateX(150px);
  }

  .App .sc3.active h1 {
    opacity: 1;
    transform: translateX(0px);
  }

  .App .sc3 .skillbox {
    width: 100%;
    margin-top: 80px;
    position: relative;
  }
  .sc3 .skillbox::after {
    content: "";
    display: block;
    clear: both;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: rgba(160, 154, 247, 0.062);
    position: absolute;
    top: -100%;
    left: 30%;
    transform: translateX(-50%);
    animation: 2s won_T infinite;
    box-shadow: 0 0 10px 0px rgba(112, 135, 238, 0.6);
  }
  @keyframes won_T {
    0% {
      opacity: 0.1;
      transform: scale(0.2);
      /* box-shadow: 0 0 0 0 rgba(213, 112, 238, 0.5); */
    }

    70% {
      opacity: 0.7;
      transform: scale(1.6);
      box-shadow: 0 0 10px 120px rgba(112, 135, 238, 0);
    }

    100% {
      opacity: 0;
      transform: scale(0.2);
      box-shadow: 0 0 0 0 rgba(112, 135, 238, 0);
    }
  }
  .App .sc3 .skillbox ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .App .sc3 .skillbox ul li {
    width: 14%;
    height: auto;
    padding: 15px 0;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(221, 235, 247);
    font-family: "Sunflower", sans-serif;
  }
  .App .sc3.active .skillbox ul li {
    animation: turn 0.5s forwards;
    transition: all 0.5s;
  }

  @keyframes turn {
    from {
      opacity: 0;
      transform: rotateY(200deg);
    }
    to {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }

  .sc3 .skillbox ul li img {
    width: 30%;
    margin-bottom: 25px;
    animation: moving 0.6s infinite ease-in-out;
    animation-direction: alternate;
  }
  @keyframes moving {
    from {
      transform: translateY(-4px);
    }
    to {
      transform: translateY(4px);
    }
  }
  .sc3 .skillbox ul li h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 300;
  }
  .skillbox ul li h5 {
    font-size: 1.3rem;
    font-family: "Russo One", sans-serif;
    font-weight: 300;
    font-style: italic;
    text-shadow: 4px 3px 6px rgba(54, 54, 54, 0.377);
  }

  .App .sc4 #project {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 1.5%;
  }

  .App .sc4 #project .title {
    color: rgb(240, 248, 250);
    width: 160px;
    text-align: center;
    line-height: 55px;
    margin: 0 auto;
    font-style: italic;
    font-size: 2.4rem;
    font-family: "Russo One", sans-serif;
    text-shadow: 4px 3px 5px rgba(48, 48, 48, 0.349);
    transition: 0.3s cubic-bezier(0.18, 0.82, 0, 0.36);
    opacity: 0;
    transform: translateX(150px);
  }
  .App .sc4.active #project .title {
    opacity: 1;
    transform: translateX(0px);
  }

  .App .sc4 #project #project_box {
    width: 82%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 130px;
    /* background: rgba(128, 255, 0, 0.363); */
    transition: cubic-bezier(0.05, 0.71, 0.68, 0.18) 0.7s;
    opacity: 0;
    transform: translateY(40px);
  }
  .App .sc4.active #project #project_box {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }

  .sc4 #project #project_box .base {
    width: 83% !important;
    height: 380px;
    text-align: center;
    border-radius: 30px;
    overflow: hidden;
    background: rgba(177, 198, 240, 0.2);
    position: relative;
    cursor: pointer;
  }

  #project_box .base #explanation {
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: #96c8fb;
    background-image: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    transition: all 0.45s;
    color: rgb(53, 55, 56);
    opacity: 0;
    clip-path: circle(10% at 50% 50%);
    text-align: left;
    font-family: "Hahmlet", serif;
    font-size: 0.85rem;
    font-weight: 400;
  }
  #project_box .base #explanation span {
    font-size: 0.96rem;
    color: rgb(75, 9, 83);
    font-weight: 500 !important;
  }

  #project_box .base:hover #explanation {
    opacity: 1 !important;
    clip-path: circle(90% at 50% 50%) !important;
  }
  #project_box .base .proimg_box {
    width: 97%;
    height: calc(100% - 60px);
    background-size: 100%;
    margin: 0 auto;
    /* background-color: aliceblue; */
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  #project #project_box .base1 .proimg_box {
    background-image: url(./aesset/main_p.png);
  }
  #project #project_box .base2 .proimg_box {
    background-image: url(./aesset/main_p2.png);
    /* background-size: 103.5%; */
  }
  #project #project_box .base3 .proimg_box {
    background-image: url(./aesset/portmain2.png);
  }
  #project #project_box .base4 .proimg_box {
    background-image: url(./aesset/portmain6.png);
  }
  #project #project_box .base5 .proimg_box {
    background-image: url(./aesset/portmain3.png);
  }
  #project #project_box .base6 .proimg_box {
    background-image: url(./aesset/portmain4.png);
    /* background-size: 102.5%; */
    background-position: 50% 60%;
  }

  #project_box .base .button_box {
    width: 100%;
    padding: 0 40px;
    height: 55px;
    line-height: 55px;
    /* background: rgba(216, 126, 236, 0.4);
    background: radial-gradient(
      circle,
      rgba(209, 95, 231, 0.4) 0%,
      rgba(140, 189, 247, 0.4) 100%
    ); */
    background: rgb(220, 235, 243);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    margin-top: 5px;
  }
  #project_box .base .button_box li {
    width: 40%;
    height: 100%;
    /* background: #5b4d96; */
  }
  #project_box .base .button_box li a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 55px;
    line-height: 55px;
  }

  .base .button_box li a img {
    width: 21%;
    position: relative;
    margin: 0 auto;
    top: 12%;
    /* transition: all 0, 4s;
    transform: rotateY(0); */
  }
  .button_box li a span {
    width: 100%;
    line-height: 15px !important;
    color: #0b2241d7;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    font-size: 0.7rem;
    margin-top: 9px;
  }

  #project_box .slick-slide {
    margin: 0 auto;
  }
  #project_box .slick-dots {
    width: 85% !important;
    bottom: -45px !important;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000000 !important;
    height: 28px;
  }
  #project_box button.slick-arrow {
    z-index: 111588111 !important;
  }
  #project_box button.slick-arrow::before {
    color: rgba(150, 207, 240, 0.342) !important;
  }

  #project footer {
    width: 75%;
    margin: 0 auto;
    background: rgba(138, 115, 202, 0.315);
    border-radius: 30px;
    border: 2.5px solid rgba(128, 60, 160, 0.45);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 8px 4px rgba(204, 129, 233, 0.86);
    display: flex;
  }
  #project footer h4 {
    width: 80%;
    font-size: 0.95rem;
    font-weight: 400;
    color: rgb(250, 251, 252);
    font-family: "Hahmlet", serif;
    line-height: 27px;
  }
  #project footer h4 .f0 {
    display: inline-block;
  }
  #project footer h4 .f1 {
    display: inline-block;
    margin-top: 7px;
    color: rgb(199, 224, 252);
  }
  #project footer h4 .f2 {
    font-size: 1.1rem;
    color: rgb(252, 146, 178);
  }

  #project footer a {
    width: 20%;
    text-align: center;
    display: block;
    text-decoration: none;
    clear: both;
  }
  #project footer a img {
    width: 40%;
    position: relative;
    top: calc(50% - 30px);
    animation: git infinite 0.7s;
    animation-direction: alternate;
    transition: all 0.5s;
    transform: scale(1);
  }
  @keyframes git {
    from {
      transform: rotate(30deg);
    }
    to {
      transform: rotate(-30deg);
    }
  }

  footer a img:hover {
    animation: none !important;
    transform: scale(1.15) !important;
  }
}

@media all and (min-width: 1450px) {
  .App .sc1 h2 {
    font-size: 2.4rem;
  }
  .App .sc1 header button {
    width: 18%;
    line-height: 50px;
    font-size: 1.15rem;
  }
  .App .sc2 {
    padding-top: 9%;
    /* background: #96c8fb; */
  }

  .sc2 .profile article h4 {
    font-size: 1.1rem;
  }

  .App .sc3 {
    padding-top: 9%;
  }
  .App .sc4 {
    width: 88%;
    padding-top: 8%;
    /* background: #57c78f41; */
  }

  .App .sc3 h1 {
    font-size: 3rem;
  }

  .sc3 .skillbox::after {
    left: 30.5%;
    transform: translateX(-50%);
  }

  .App .sc4 #project .title {
    font-size: 3rem;
  }
  .App .sc4 #project #project_box {
    margin-top: 50px;
  }

  .sc4 #project #project_box .base {
    width: 83% !important;
    height: 420px;
  }

  #project_box .base .proimg_box {
    width: 97%;
    height: calc(100% - 65px);
    background-size: 96%;
    margin: 0 auto;
  }
  #project_box .base #explanation {
    font-size: 0.97rem;
    font-weight: 400;
  }
  #project_box .base #explanation span {
    font-size: 1.15rem;
    font-weight: 500 !important;
  }

  #project_box .base .button_box {
    width: 100%;
    height: 65px;
    line-height: 65px;
    margin-top: 0px;
  }

  #project_box .base .button_box li a {
    width: 100%;
    height: 65px;
    line-height: 65px;
  }

  .base .button_box li a img {
    width: 21%;
    top: 12%;
  }
  .button_box li a span {
    margin-top: 10px;
  }
  #project footer h4 {
    font-size: 1rem;
  }

  #project footer h4 .f2 {
    font-size: 1.2rem;
    color: rgb(252, 146, 178);
  }
}

@media all and (min-width: 1600px) {
  .sc3 .skillbox::after {
    top: -100%;
    left: 34%;
  }
  .App .sc4 #project #project_box {
    width: 79%;
    margin-bottom: 130px;
    /* background: rgba(128, 255, 0, 0.363); */
  }

  #project_box .base .proimg_box {
    width: 97%;
    background-size: 92%;
    /* background-color: aliceblue; */
  }

  #project footer {
    width: 72%;
  }
}

@media all and (max-width: 600px) {
  .App {
    width: 100%;
    height: auto;
  }
  .App .sc {
    width: 100%;
  }
  .App .sc1 header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .App .sc1 header button {
    width: 22%;
    line-height: 40px;
    border-radius: 30px;
    color: rgb(163, 202, 241);
    text-align: center;
    font-size: 0.8rem;
    box-shadow: 0 0 8px 2px rgb(99, 180, 226);
    transition: all 0.4s;
    transform: scale(1);
  }
  .sc1 header button.click {
    color: rgb(167, 94, 216);
    box-shadow: 0 0 8px 3px rgb(203, 129, 233);
    transform: scale(0.9);
  }
  .App .sc1 h2 {
    width: 82% !important;
    top: 40%;
    font-size: 1.78rem;
    line-height: 38px;
    font-family: "Jua", sans-serif;
    font-weight: normal;
    text-align: center;
    color: rgb(238, 234, 234);
  }

  /* .chorong_box {
    top: 48%;
    z-index: 1151;
  } */
  .chorong {
    top: 48%;
    width: 15%;
  }

  .chorong span {
    width: 22px;
    height: 15px;
  }

  .chorong:nth-child(1) span {
    left: 35.5%;
  }
  .chorong:nth-child(2) span {
    left: 18%;
  }

  .App .sc2 {
    width: 100%;
    padding-top: 85px;
    display: flex;
    flex-wrap: wrap;
  }

  .App .sc3 {
    width: 100%;
    height: auto;
    padding: 0 10px;
    padding-top: 70px;
    margin-top: 1020px;
    /* background: #22436d; */
    box-sizing: border-box;
  }

  .App .sc4 {
    width: 100%;
    height: auto;
    padding-top: 70px;
    padding-bottom: 50px;
    box-sizing: border-box;
  }

  .App .sc2 .profile {
    width: 100%;
    height: auto;
    padding-bottom: 75px;
    box-sizing: border-box;
    transition: cubic-bezier(0.33, 0.77, 0, 0.36) 0.5s;
    clip-path: circle(10% at 50% 40%);
    opacity: 0;
  }
  .sc2 .profile.ac_600 {
    opacity: 1;
    clip-path: circle(90% at 50% 50%) !important;
  }

  .App .sc2 .about {
    width: 150px;
    text-align: center;
    line-height: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(220, 231, 247);
    border-radius: 15px;
    font-family: "Jua", sans-serif;
    position: relative;
    margin-top: 15px;
    margin-left: 5px;
  }
  .App .sc2 .about span {
    display: inline-block;
    width: 4px;
    height: 3px;
    border-radius: 50px;
    background: rgba(185, 125, 241, 0.712);
    box-shadow: 0 0 7px 2px rgba(185, 131, 236, 0.774);
    position: absolute;
    z-index: 11;
    transition: all 0.1s cubic-bezier(0.33, 0.77, 0, 0.36);
  }

  .sc2 .about .l1 {
    top: 0;
    left: 10px;
  }
  .sc2 .about .l2 {
    top: 0;
    right: 10px;
  }
  .sc2 .about .l3 {
    bottom: 0;
    right: 10px;
  }
  .sc2 .about .l4 {
    bottom: 0;
    left: 10px;
  }

  .sc2 .about:hover .l1 {
    width: 4px !important;
  }
  .sc2 .about:hover .l2 {
    height: 3px !important;
  }
  .sc2 .about:hover .l3 {
    width: 4px !important;
  }
  .sc2 .about:hover .l4 {
    height: 3px !important;
  }

  .App .sc2 .profile article {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    margin-left: auto;
    margin-top: 35px;
  }
  .sc2 .profile article h4 {
    color: rgb(234, 242, 247);
    font-weight: 100;
    font-size: 1rem;
    line-height: 30px;
    font-family: "Sunflower", sans-serif;
  }
  .App .sc2 .certificate {
    width: 100%;
    height: auto;
    padding-bottom: 75px;
    box-sizing: border-box;
    /* background: rgba(216, 170, 170, 0.26); */
    /* clip-path: circle(30% at 50% 50%); */
  }
  .App .sc2 .history {
    width: 100%;
    height: auto;
    padding-bottom: 75px;
    box-sizing: border-box;
    /* background: rgba(255, 140, 0, 0.151); */
  }

  .sc2 .history aside {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 45px;
    font-weight: 100;
    font-size: 1.3rem;
    line-height: 30px;
  }

  .sc2 .history aside .timeline {
    margin-bottom: 25px;
  }
  .sc2 .history.acti_600 aside .timeline {
    animation: rr_mv3 cubic-bezier(0.33, 0.77, 0, 0.36) 0.5s forwards;
  }

  @keyframes rr_mv3 {
    from {
      opacity: 0;
      transform: translateX(-45px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .sc2 .history.acti_600 aside .timeline:nth-child(1) {
    animation-delay: 0.1s;
  }
  .sc2 .history.acti_600 aside .timeline:nth-child(2) {
    animation-delay: 0.3s;
  }
  .sc2 .history.acti_600 aside .timeline:nth-child(3) {
    animation-delay: 0.5s;
  }
  .sc2 .history.acti_600 aside.timeline:nth-child(4) {
    animation-delay: 0.7s;
  }

  .history aside .timeline h4 {
    font-size: 1.1rem;
    color: rgb(167, 209, 248);
  }

  .sc2 .certificate aside {
    width: 100%;
    margin-top: 45px;
    font-size: 1.45rem;
    line-height: 30px;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .sc2 .certificate aside .timeline {
    margin-bottom: 20px;
  }
  .sc2 .certificate.acti_602 aside .timeline {
    animation: rr_mv4 cubic-bezier(0.33, 0.77, 0, 0.36) 0.5s forwards;
  }
  @keyframes rr_mv4 {
    from {
      opacity: 0;
      transform: translateX(-45px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .sc2 .certificate.acti_602 aside .timeline:nth-child(1) {
    animation-delay: 0.1s;
  }
  .sc2 .certificate.acti_602 aside .timeline:nth-child(2) {
    animation-delay: 0.3s;
  }
  .sc2 .certificate.acti_602 aside .timeline:nth-child(3) {
    animation-delay: 0.5s;
  }
  .sc2 .certificate.acti_602 aside .timeline:nth-child(4) {
    animation-delay: 0.7s;
  }
  .sc2 .certificate.acti_602 aside .timeline:nth-child(5) {
    animation-delay: 1s;
  }

  .certificate aside .timeline h4 {
    font-size: 1.1rem;
    color: rgb(167, 209, 248);
  }

  .App .sc3 h1 {
    font-size: 2rem;
    margin-top: 8%;
  }

  .App .sc3 .skillbox {
    margin-top: 30px;
    position: relative;
  }
  .sc3 .skillbox::after {
    content: "";
    display: block;
    clear: both;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: rgba(160, 154, 247, 0.062);
    position: absolute;
    top: -15%;
    left: -23%;
    transform: translateX(-50%);
    animation: 2s won_T infinite;
    box-shadow: 0 0 10px 0px rgba(112, 135, 238, 0.5);
  }

  .App .sc3 .skillbox ul li {
    width: 29%;
    margin-bottom: 25px;
  }

  .sc3 .skillbox ul li img {
    width: 49%;
    margin-bottom: 20px;
  }

  .sc3 .skillbox ul li h2 {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  .skillbox ul li h5 {
    font-size: 1.25rem;
  }

  .App .sc4 #project {
    width: 100%;
    /* background: #22436d; */
    margin-top: 10%;
  }

  .App .sc4 #project .title {
    width: 100%;
    font-size: 2rem;
  }

  .App .sc4 #project #project_box {
    width: 86%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 100px;
    /* background: rgba(128, 255, 0, 0.363); */
  }
  .sc4 #project #project_box .base {
    width: 95% !important;
    height: 350px;
    background: rgba(177, 198, 240, 0.2);
  }
  #project_box .base #explanation {
    color: rgb(53, 55, 56);
    font-size: 0.78rem;
    font-weight: 400;
  }
  #project_box .base #explanation span {
    font-size: 0.85rem;
  }

  #project_box .base .proimg_box {
    width: 97%;
    background-size: 100%;
    /* background-color: aliceblue; */
    background-position: 50% 50%;
  }
  #project #project_box .base1 .proimg_box {
    background-size: 102%;
  }
  #project #project_box .base2 .proimg_box {
    background-image: url(./aesset/main_p2.png);
    /* background-size: 102%; */
    background-position: 50% 45%;
  }
  #project #project_box .base3 .proimg_box {
    background-position: 50% 50%;
  }
  #project #project_box .base4 .proimg_box {
    background-size: 106%;
  }

  #project_box .base .button_box {
    width: 100%;
    padding: 0 35px;
  }

  .base .button_box li a img {
    width: 30%;
    top: 12.5%;
    transition: all 0, 4s;
    transform: rotateY(0);
  }

  .button_box li a span {
    line-height: 15px !important;
    font-size: 0.69rem;
    margin-top: 12px;
  }
  /* .base .button_box li a:hover .button_box li a img {
    transform: rotateY(270deg);
  } */
  /* 
  #project_box .base article {
    width: 100%;
    height: 250px;
    background: cornsilk;
    margin-top: -50px;
    border-radius: 0px 50px 0 0;
  } */

  #project_box .slick-slide {
    margin: 0 auto;
  }
  #project_box .slick-dots {
    width: 85% !important;
    bottom: -45px !important;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000000 !important;
    height: 28px;
  }
  #project_box button.slick-arrow {
    z-index: 111588111 !important;
  }
  #project_box button.slick-arrow::before {
    color: rgba(150, 207, 240, 0.342) !important;
  }

  #project footer {
    width: 100%;
    margin: 0 auto;
    padding: 12px;
    box-shadow: 0 0 8px 4px rgba(204, 129, 233, 0.62);
    display: flex;
  }
  #project footer h4 {
    width: 78%;
    font-size: 0.82rem;
    line-height: 25px;
  }
  #project footer h4 .f0 {
    display: inline;
  }

  #project footer h4 .f2 {
    font-size: 0.95rem;
  }

  #project footer a {
    width: 22%;
    text-align: right;
  }
  #project footer a img {
    width: 68%;
  }

  /* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */
}
